# -*- coding: utf-8 -*-

prettytable==0.7.2
twitter==1.17.1
tensorflow>=1.4.0
scipy>=0.18.1
python-rtmidi
pretty-midi>=0.2.6
pandas>=0.18.1
numpy>=1.11.0
mir-eval>=0.4
mido==1.2.6
matplotlib>=1.5.3
librosa>=0.6.0
intervaltree>=2.1.0
futures
bokeh>=0.12.0
Pillow>=3.4.2
IPython
git+https://github.com/vishnubob/python-midi@feature/python3
magenta